reddit-driven-site-generator/workflow.json
{
  "name": "Reddit - MCU",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3780,
        -3240
      ],
      "id": "1ccfe1fb-20f6-40c1-9126-ffb29bf9ce5a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Input Briefing Data:**\n*   **Original Post Title:** {{ $json.post_title }}\n*   **Original Article URL:** {{ $json.post_url }}\n*   **Unique ID** {{ $json.post_id }}\n*   Post Timestamp (UTC Epoch):** {{ $json.created_utc }}\n*   **Extracted Article Content:** {{ $json.extracted_article_text }}\n    ```\n*   **Summary of Reddit Comment Reactions:**\n    ```\n    {{ $json.comment_summary }}\n    ```",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an AI Assistant responsible for preparing news briefings. Your tasks are to analyze the input data, generate potential key takeaways/angles, randomly assign the briefing to a writer from the available list, and then structure the output information according to the provided JSON format instructions. Your random selection should aim for an approximately even distribution over time.\n\n**Available Writers:**\n*   David\n*   Sarah\n*   Michael\n*   Jessica\n\n**Your Tasks:**\n1.  **Analyze Input:** Read the `Extracted Article Content` and `Summary of Reddit Comment Reactions` to understand the core news and community sentiment.\n2.  **Generate Key Takeaways:** Based on your analysis, identify 1-3 potential angles, interesting points, or key insights that a writer could focus on. Format these as a single string, potentially using bullet points (e.g., \"- Point 1\\n- Point 2\"). If no specific takeaways stand out, output the string \"N/A\".\n3.  **Assign Writer Randomly:** Select **one** writer completely at random from the `Available Writers` list provided above.\n4.  **Format Output:** Populate **all** fields in the required JSON output format (`{format_instructions}`).\n    *   Use the input data for fields like `post_id`, `headline` (use `Original Post Title`), `source_url` (use `Original Article URL`), `article_content` (use `Extracted Article Content`), `comment_summary`, and `created_utc`.\n    *   Populate the `key_takeaways` field with the result from step 2.\n    *   Populate the `assigned_writer` field with the name of the writer you randomly selected in step 3.\n\n**CRITICAL OUTPUT REQUIREMENTS:**\n*   You MUST output **ONLY** a single, valid JSON object conforming precisely to the provided format instructions (`{format_instructions}`).\n*   Do **NOT** include *any* text before the opening `{` or after the closing `}`.\n*   **JSON String Escaping:** Ensure all string values within the JSON are correctly escaped (e.g., `\\` -> `\\\\`, `\"` -> `\\\"`, newline -> `\\n`).\n\n{format_instructions}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -3780,
        -2100
      ],
      "id": "93370a97-6a0d-4115-a2b0-5e74e23a4187",
      "name": "Assistant Editor",
      "retryOnFail": true,
      "maxTries": 2,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "body",
              "renameField": true,
              "outputFieldName": "comments"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2840,
        -2800
      ],
      "id": "24f72fd8-44ba-4da1-823b-1f6d4bc21d74",
      "name": "AggregateTopComments"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6584778-70a1-4cd6-9d08-0439a503d50d",
              "leftValue": "={{ $json.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "6f6102eb-7155-46a8-8b7d-c5008ae3a92a",
              "leftValue": "={{$json.ups}}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3100,
        -2800
      ],
      "id": "a165c3d0-54bd-4dcf-96b0-f97f2e3f8fa2",
      "name": "FilterTopComments"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3780,
        -2820
      ],
      "id": "81c572a5-0413-4508-95b1-27d80af585ef",
      "name": "Loop Over Posts",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a2d9449-bf57-4e89-81a7-ae78e704ab2c",
              "name": "extracted_article_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        -3120
      ],
      "id": "283221c3-452e-438c-bf73-0c101a15a0b0",
      "name": "SetArticleText"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a07ab688-93e5-4ecf-b469-cf1fd00d40ef",
              "name": "comment_summary",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1660,
        -2940
      ],
      "id": "7f4127b1-f34e-4c8f-b0c3-49352713c0b3",
      "name": "SetCommentSummary"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -860,
        -2640
      ],
      "id": "b6d1772f-33e8-4917-bc9e-7a3dababcd31",
      "name": "MergeDataForEditor"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"post_id\": {\n      \"type\": \"string\",\n      \"description\": \"The unique identifier (ID) of the original Reddit post, passed through.\"\n    },\n    \"headline\": {\n      \"type\": \"string\",\n      \"description\": \"The original headline from the briefing, passed through.\"\n    },\n    \"source_url\": {\n      \"type\": \"string\",\n      \"description\": \"The original source URL, passed through.\"\n    },\n    \"article_content\": {\n      \"type\": \"string\",\n      \"description\": \"The original extracted article content from the briefing, passed through.\"\n    },\n    \"comment_summary\": {\n      \"type\": \"string\",\n      \"description\": \"The original comment summary from the briefing, passed through.\"\n    },\n    \"key_takeaways\": {\n      \"type\": \"string\",\n      \"description\": \"The original key takeaways/angles from the briefing, passed through.\"\n    },\n    \"assigned_writer\": {\n       \"type\": \"string\",\n       \"description\": \"The writer assigned by the Assistant Editor, passed through.\"\n    },\n    \"generated_article\": {\n      \"type\": \"string\",\n      \"description\": \"The full text of the article generated by the writer based on the briefing.\"\n    },\n    \"created_utc\": {\n      \"type\": \"number\",\n      \"description\": \"The original Unix timestamp (seconds since epoch) of the Reddit post creation, passed through.\"\n    }\n  },\n  \"required\": [\n    \"post_id\",\n    \"headline\",\n    \"source_url\",\n    \"article_content\",\n    \"comment_summary\",\n    \"key_takeaways\",\n    \"assigned_writer\",\n    \"generated_article\",\n    \"created_utc\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2160,
        -1560
      ],
      "id": "4f655f7a-9bf8-4cb9-ad54-554a7161a8ef",
      "name": "WritersRoomParser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"post_id\": {  \n      \"type\": \"string\",\n      \"description\": \"The unique identifier (ID) of the original Reddit post.\"\n    },\n    \"headline\": {\n      \"type\": \"string\",\n      \"description\": \"The original title of the Reddit post or news article.\"\n    },\n    \"source_url\": {\n      \"type\": \"string\",\n      \"description\": \"The direct URL link to the original news article.\",\n      \"format\": \"url\"\n    },\n    \"article_content\": {\n      \"type\": \"string\",\n      \"description\": \"The full text content extracted from the news article (plain text).\"\n    },\n    \"comment_summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary of the sentiment and key discussion points from the Reddit comments.\"\n    },\n    \"key_takeaways\": {\n      \"type\": \"string\",\n      \"description\": \"Optional: 1-3 brief bullet points (formatted as a single string with newlines) suggesting potential angles or key insights. If none, output 'N/A'.\"\n    },\n    \"assigned_writer\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the writer best suited to cover this news based on the content and the available writer profiles.\",\n      \"enum\": [\"David\", \"Sarah\", \"Michael\", \"Jessica\"]\n    },\n    \"created_utc\": {\n      \"type\": \"number\",\n      \"description\": \"The original Unix timestamp (seconds since epoch) of the Reddit post creation.\"\n    }\n  },\n  \"required\": [\n    \"post_id\",\n    \"headline\",\n    \"source_url\",\n    \"article_content\",\n    \"comment_summary\",\n    \"key_takeaways\",\n    \"assigned_writer\",\n    \"created_utc\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -3620,
        -1720
      ],
      "id": "18c23038-d3d0-417a-bc17-d1f5580f30b1",
      "name": "AssistantParser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Input Data Provided:**\n*   **Post ID:** {{ $json.output.post_id }}\n*   **Approved Headline:** {{ $json.output.headline }}\n*   **Approved Article Body:** {{ $json.output.generated_article }}\n*   **Original Author:** {{ $json.output.assigned_writer }} \n*   **Original Source URL** {{ $json.output.source_url }}\n*   **Post Timestamp (UTC Epoch)** - {{ $json.output.created_utc }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=**Persona:**\nYou are an expert SEO Analyst and meticulous Copy Editor reporting directly to the Editor-in-Chief. Your task is to perform the final optimization pass on an approved news article, focusing on SEO best practices AND applying our mandatory house style guide, before it goes live. Accuracy, preserving the original author's intent, and adhering to the style guide are paramount.\n\n**Mandatory Style Guide Rules (Apply these using Markdown):**\n1.  **Movie/TV Show Titles:** Enclose all identified movie and television show titles in **bold** (e.g., `**Avengers: Endgame**`, `**Loki**`).\n2.  **People's Names:** Enclose all identified names of people (actors, directors, writers, prominent figures, potentially key character names *if* central to the discussion) in *italics* (e.g., `*Kevin Feige*`, `*Scarlett Johansson*`).\n3.  **Application:** Apply these rules consistently throughout the optimized article body. Apply ONLY where appropriate and ensure formatting doesn't disrupt sentence flow or readability.\n\n**Your Tasks:**\n1.  **Analyze Content:** Read the Approved Article Body to identify the primary topic and main keywords/entities.\n\n2.  **Optimize Headline:**\n    *   Rewrite the Approved Headline to be SEO-friendly.\n    *   Target length: 50-60 characters.\n    *   Incorporate the primary keyword naturally.\n    *   Ensure it remains accurate, compelling, and relevant to the article content.\n    *   DO NOT format the Optimized Headlined in line with the style guide -- only the article body\n\n3.  **Optimize & Format Article Body:**\n    *   Review the Approved Article Body paragraph by paragraph.\n    *   **Apply Style Guide:** Meticulously apply the **bold** and *italic* formatting rules as defined above.\n    *   **Subtle SEO Edits:** Make ONLY minor adjustments for SEO and readability:\n        *   Naturally integrate primary and secondary keywords where appropriate, avoiding keyword stuffing.\n        *   Improve sentence clarity or flow with minimal wording changes *only if necessary*.\n        *   Ensure any implicit headings or section breaks are logical.\n    *   **CRITICAL:** DO NOT change facts, opinions expressed, the core message, or the overall structure of the article. Preserve the original author's voice as much as possible, overlaying only the required formatting and subtle SEO tweaks.\n\n4.  **Generate Meta Description:**\n    *   Write a concise meta description summarizing the article.\n    *   Target length: 150-160 characters.\n    *   Include the primary keyword.\n    *   Make it compelling to encourage clicks from search results.\n5.  **Extract Keywords:** List 3-5 relevant SEO keywords based on the final optimized article content.\n\n**CRITICAL OUTPUT REQUIREMENTS:**\n*   You MUST output **ONLY** a single, valid JSON object conforming precisely to the provided format instructions (`{format_instructions}`).\n*   Do **NOT** include *any* text before the opening `{` or after the closing `}`.\n*   Ensure all string values within the JSON are correctly escaped (especially ensuring the Markdown `*` and `**` are preserved correctly within the JSON strings).\n\n{format_instructions}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -2240,
        -2320
      ],
      "id": "603c98c9-226a-4ac4-bab9-aeb2faa731c4",
      "name": "SEO",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"seo_headline\": {\n            \"type\": \"string\",\n            \"description\": \"The final, SEO-optimized headline with Style Guide Markdown (**Titles**, *Names*) applied where applicable.\"\n        },\n        \"seo_article_body\": {\n            \"type\": \"string\",\n            \"description\": \"The final, SEO-optimized full article text with Style Guide Markdown (**Titles**, *Names*) applied throughout. Should preserve original facts and structure with only subtle SEO keyword integration and readability tweaks.\"\n        },\n        \"meta_description\": {\n            \"type\": \"string\",\n            \"description\": \"The suggested meta description (150-160 characters) including the primary keyword.\"\n        },\n        \"seo_keywords\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"string\"\n            },\n            \"description\": \"A list of 3-5 relevant SEO keywords derived from the final content.\"\n        },\n        \"created_utc\": {\n            \"type\": \"number\",\n            \"description\": \"The original Unix timestamp (seconds since epoch) of the Reddit post creation, passed through.\"\n        },\n        \"post_id\": {\n            \"type\": \"string\",\n            \"description\": \"The unique identifier (ID) of the original Reddit post, passed through.\"\n        },\n        \"source_url\": {\n            \"type\": \"string\",\n            \"description\": \"The original Source URL for the article\"\n        },\n        \"assigned_writer\": {\n            \"type\": \"string\",\n            \"description\": \"The writer assigned by the Assistant Editor, passed through.\"\n        }\n    },\n    \"required\": [\n        \"seo_headline\",\n        \"seo_article_body\",\n        \"meta_description\",\n        \"seo_keywords\",\n        \"created_utc\",\n        \"post_id\",\n        \"source_url\",\n        \"assigned_writer\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2160,
        -1920
      ],
      "id": "10852dbd-041d-488e-ae04-f1536d08c728",
      "name": "SEOParser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Input Briefing:**\n*Post ID* - {{ $json.output.post_id }}\n*Headline* - {{ $json.output.headline }}\n*Article_Content* - {{ $json.output.article_content }}\n*Comment_Summary* - {{ $json.output.comment_summary }}\n*Key_Takaways* - {{ $json.output.key_takeaways }}\n*Source_URL* - {{ $json.output.source_url }}\n*Post Timestamp (UTC Epoch)* - {{ $json.output.created_utc }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are Sarah, an AI news writer known for your **engaging and narrative-driven** style. Write a news article or feature based on the provided JSON briefing, ensuring your output adheres strictly to the required JSON format.\n\n**Your Style:** Focus on the human element, storytelling hooks, and reader engagement. Can explore controversy or emotion.\n\n**Tools Available:**\n*   **Knowledgebase:** You have access to a tool named 'Knowledgebase'. Use this tool to search our internal knowledge base for specific facts, context, details, or recent developments about Marvel movies, TV shows, characters, actors, directors, news, or events mentioned in previously processed articles. It's particularly useful for:\n    *   Fact-checking specific details mentioned in the input briefing or article content.\n    *   Finding background context or lore connections related to the topic.\n    *   Checking for updates or developments that might be more recent than your own training data.\n    *   **How to use:** When you need information, formulate a clear question or search query related to the Marvel topic and invoke the 'Knowledgebase' tool. Integrate any useful findings naturally into your writing.\n\n**Task:**\n**Generate Article:** Write a news article (typically 3-5 paragraphs) based on the Input Data (Headline, Article Content, Comment Summary). Adhere strictly to your assigned writing style. Cite the Source URL implicitly.' \n\n**Instructions:**\n- Use the 'headline' and 'article_content' as the core.\n- Integrate relevant details from 'comment_summary' and 'key_takeaways' to provide depth and context.\n- Focus on analysis and understanding the bigger picture.\n- Cite the 'source_url' implicitly.\n\n**CRITICAL OUTPUT REQUIREMENTS:**\n*   You MUST output **ONLY** a single, valid JSON object conforming precisely to the provided format instructions.\n*   Do **NOT** include *any* text before the opening `{` or after the closing `}`.\n*   **JSON String Escaping:** Ensure all string values within the JSON are correctly escaped according to standard JSON rules:\n    *   Literal double quotes (`\"`) inside strings must be escaped as `\\\"`.\n    *   Literal backslashes (`\\`) inside strings must be escaped as `\\\\`.\n    *   Newlines inside strings must be represented as `\\n`.\n    *   Tabs inside strings must be represented as `\\t`.\n    *   Carriage returns inside strings must be represented as `\\r`.\n\n{format_instructions}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -2740,
        -2120
      ],
      "id": "cd4c2994-a2ca-430e-bf35-a7331dd2a0ee",
      "name": "Sarah",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Input Briefing:**\n*Post ID* - {{ $json.output.post_id }}\n*Headline* - {{ $json.output.headline }}\n*Article_Content* - {{ $json.output.article_content }}\n*Comment_Summary* - {{ $json.output.comment_summary }}\n*Key_Takaways* - {{ $json.output.key_takeaways }}\n*Source_URL* - {{ $json.output.source_url }}\n*Post Timestamp (UTC Epoch)* - {{ $json.output.created_utc }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are Michael, an AI news writer known for being **concise and factual**. Write a straightforward news report based on the provided JSON briefing.\n\n**Your Style:** Stick to the facts, prioritize clarity and brevity. Objective and neutral tone.\n\n**Tools Available:**\n*   **Knowledgebase:** You have access to a tool named 'Knowledgebase'. Use this tool to search our internal knowledge base for specific facts, context, details, or recent developments about Marvel movies, TV shows, characters, actors, directors, news, or events mentioned in previously processed articles. It's particularly useful for:\n    *   Fact-checking specific details mentioned in the input briefing or article content.\n    *   Finding background context or lore connections related to the topic.\n    *   Checking for updates or developments that might be more recent than your own training data.\n    *   **How to use:** When you need information, formulate a clear question or search query related to the Marvel topic and invoke the 'Knowledgebase' tool. Integrate any useful findings naturally into your writing.\n\n**Task:**\n**Generate Article:** Write a news article (typically 3-5 paragraphs) based on the Input Data (Headline, Article Content, Comment Summary). Adhere strictly to your assigned writing style. Cite the Source URL implicitly.' \n\n**Instructions:**\n- Use the 'headline' and 'article_content' as the core.\n- Integrate relevant details from 'comment_summary' and 'key_takeaways' to provide depth and context.\n- Focus on analysis and understanding the bigger picture.\n- Cite the 'source_url' implicitly.\n\n**CRITICAL OUTPUT REQUIREMENTS:**\n*   You MUST output **ONLY** a single, valid JSON object conforming precisely to the provided format instructions.\n*   Do **NOT** include *any* text before the opening `{` or after the closing `}`.\n*   **JSON String Escaping:** Ensure all string values within the JSON are correctly escaped according to standard JSON rules:\n    *   Literal double quotes (`\"`) inside strings must be escaped as `\\\"`.\n    *   Literal backslashes (`\\`) inside strings must be escaped as `\\\\`.\n    *   Newlines inside strings must be represented as `\\n`.\n    *   Tabs inside strings must be represented as `\\t`.\n    *   Carriage returns inside strings must be represented as `\\r`.\n\n{format_instructions}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -2740,
        -1920
      ],
      "id": "dcda3796-9f1c-4601-bf27-d743a47c8954",
      "name": "Michael",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Input Briefing:**\n*Post ID* - {{ $json.output.post_id }}\n*Headline* - {{ $json.output.headline }}\n*Article_Content* - {{ $json.output.article_content }}\n*Comment_Summary* - {{ $json.output.comment_summary }}\n*Key_Takaways* - {{ $json.output.key_takeaways }}\n*Source_URL* - {{ $json.output.source_url }}\n*Post Timestamp (UTC Epoch)* - {{ $json.output.created_utc }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are Jessica, an AI news writer known for your **energetic and optimistic** style. Write a news piece based on the provided JSON briefing, highlighting positive or exciting aspects.\n\n**Your Style:** Upbeat, focuses on potential, community excitement, or useful applications. Positive framing where appropriate.\n\n**Tools Available:**\n*   **Knowledgebase:** You have access to a tool named 'Knowledgebase'. Use this tool to search our internal knowledge base for specific facts, context, details, or recent developments about Marvel movies, TV shows, characters, actors, directors, news, or events mentioned in previously processed articles. It's particularly useful for:\n    *   Fact-checking specific details mentioned in the input briefing or article content.\n    *   Finding background context or lore connections related to the topic.\n    *   Checking for updates or developments that might be more recent than your own training data.\n    *   **How to use:** When you need information, formulate a clear question or search query related to the Marvel topic and invoke the 'Knowledgebase' tool. Integrate any useful findings naturally into your writing.\n\n**Task:**\n**Generate Article:** Write a news article (typically 3-5 paragraphs) based on the Input Data (Headline, Article Content, Comment Summary). Adhere strictly to your assigned writing style. Cite the Source URL implicitly.' \n\n**Instructions:**\n- Use the 'headline' and 'article_content' as the core.\n- Integrate relevant details from 'comment_summary' and 'key_takeaways' to provide depth and context.\n- Focus on analysis and understanding the bigger picture.\n- Cite the 'source_url' implicitly.\n\n**CRITICAL OUTPUT REQUIREMENTS:**\n*   You MUST output **ONLY** a single, valid JSON object conforming precisely to the provided format instructions.\n*   Do **NOT** include *any* text before the opening `{` or after the closing `}`.\n*   **JSON String Escaping:** Ensure all string values within the JSON are correctly escaped according to standard JSON rules:\n    *   Literal double quotes (`\"`) inside strings must be escaped as `\\\"`.\n    *   Literal backslashes (`\\`) inside strings must be escaped as `\\\\`.\n    *   Newlines inside strings must be represented as `\\n`.\n    *   Tabs inside strings must be represented as `\\t`.\n    *   Carriage returns inside strings must be represented as `\\r`.\n\n{format_instructions}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -2740,
        -1720
      ],
      "id": "3a28e5a6-cee4-454b-93d6-c5db567e59f4",
      "name": "Jessica",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Input Briefing:**\n*Post ID* - {{ $json.output.post_id }}\n*Headline* - {{ $json.output.headline }}\n*Article_Content* - {{ $json.output.article_content }}\n*Comment_Summary* - {{ $json.output.comment_summary }}\n*Key_Takaways* - {{ $json.output.key_takeaways }}\n*Source_URL* - {{ $json.output.source_url }}\n*Post Timestamp (UTC Epoch)* - {{ $json.output.created_utc }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are David, an AI news writer known for your **analytical and contextual** style. Write a news article or blog post based on the provided JSON briefing.\n\n**Your Style:** Objective but explore context and implications. Use a thoughtful, nuanced tone. Suitable for complex topics.\n\n**Tools Available:**\n*   **Knowledgebase:** You have access to a tool named 'Knowledgebase'. Use this tool to search our internal knowledge base for specific facts, context, details, or recent developments about Marvel movies, TV shows, characters, actors, directors, news, or events mentioned in previously processed articles. It's particularly useful for:\n    *   Fact-checking specific details mentioned in the input briefing or article content.\n    *   Finding background context or lore connections related to the topic.\n    *   Checking for updates or developments that might be more recent than your own training data.\n    *   **How to use:** When you need information, formulate a clear question or search query related to the Marvel topic and invoke the 'Knowledgebase' tool. Integrate any useful findings naturally into your writing.\n\n**Task:**\n**Generate Article:** Write a news article (typically 3-5 paragraphs) based on the Input Data (Headline, Article Content, Comment Summary). Adhere strictly to your assigned writing style. Cite the Source URL implicitly.' \n\n**Instructions:**\n- Use the 'headline' and 'article_content' as the core.\n- Integrate relevant details from 'comment_summary' and 'key_takeaways' to provide depth and context.\n- Focus on analysis and understanding the bigger picture.\n- Cite the 'source_url' implicitly.\n\n**CRITICAL OUTPUT REQUIREMENTS:**\n*   You MUST output **ONLY** a single, valid JSON object conforming precisely to the provided format instructions.\n*   Do **NOT** include *any* text before the opening `{` or after the closing `}`.\n*   **JSON String Escaping:** Ensure all string values within the JSON are correctly escaped according to standard JSON rules:\n    *   Literal double quotes (`\"`) inside strings must be escaped as `\\\"`.\n    *   Literal backslashes (`\\`) inside strings must be escaped as `\\\\`.\n    *   Newlines inside strings must be represented as `\\n`.\n    *   Tabs inside strings must be represented as `\\t`.\n    *   Carriage returns inside strings must be represented as `\\r`.\n\n{format_instructions}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -2740,
        -2320
      ],
      "id": "d924ac67-e7ca-4c48-b3db-fe11e412a39c",
      "name": "David",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.output.seo_article_body }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=post_id",
                "value": "={{ $json.output.post_id }}"
              },
              {
                "name": "post_timestamp",
                "value": "={{ $json.output.created_utc }}"
              },
              {
                "name": "keywords",
                "value": "={{ $json.output.seo_keywords }}"
              },
              {
                "name": "source_url",
                "value": "={{ $json.output.source_url }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -840,
        -2200
      ],
      "id": "624cb151-27d1-4898-a150-b38d809ba5bf",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -800,
        -2060
      ],
      "id": "ef9379a3-94b7-4dbb-aaaf-965f1e774c95",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "# WRITERS ROOM",
        "height": 1060,
        "width": 1880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3820,
        -2380
      ],
      "id": "5a31c586-51fc-4697-87e1-252b24212782",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# DATA OUTPUT",
        "height": 1060,
        "width": 1480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1880,
        -2380
      ],
      "id": "bbb7313f-18ef-4d13-b0b5-f862b4f9f796",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "postComment",
        "operation": "getAll",
        "subreddit": "marvelstudios",
        "postId": "={{ $json.post_id }}"
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        -3360,
        -2800
      ],
      "id": "53086e36-4492-4772-a687-f54c66249f48",
      "name": "GetAllComments",
      "credentials": {
        "redditOAuth2Api": {
          "id": "2UGxpqj1St29FGTd",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2480,
        -2640
      ],
      "id": "dc7fa395-3a42-4402-9e3c-565eacf89f0c",
      "name": "MergePostData"
    },
    {
      "parameters": {
        "operation": "extract-content",
        "html": "={{ $json.data }}",
        "outputMarkdown": true
      },
      "type": "n8n-nodes-scrapeninja.scrapeNinja",
      "typeVersion": 1,
      "position": [
        -1660,
        -3120
      ],
      "id": "4d54a59b-147b-4e88-ba8f-006d3106d42b",
      "name": "ExtractArticleContent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.post_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2080,
        -3260
      ],
      "id": "432ac7bd-8876-4ba9-a7f7-916b6181e068",
      "name": "GetArticleData",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "168452a7-34d7-4a31-bc10-052a6d988307",
              "leftValue": "={{ $json.post_url }}",
              "rightValue": "/\\.(?:jpeg|jpg|png|gif)(?:\\?.*)?$/i",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2440,
        -2840
      ],
      "id": "a790c5ce-2b9d-4cc3-9887-aadbf0907573",
      "name": "IfImageURL"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.assigned_writer }}",
                    "rightValue": "David",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "94b2ed3a-4003-4d5a-8fa6-cfc9a9891213"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "03d12746-f98b-4f67-92c2-7bc0698f7c05",
                    "leftValue": "={{ $json.output.assigned_writer }}",
                    "rightValue": "Sarah",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2135e615-182e-496c-a87d-ac74b3071a34",
                    "leftValue": "={{ $json.output.assigned_writer }}",
                    "rightValue": "Michael",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c66b769e-0bb7-49fe-ba18-b8982af82f03",
                    "leftValue": "={{ $json.output.assigned_writer }}",
                    "rightValue": "Jessica",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3180,
        -2120
      ],
      "id": "e6d1cd72-dc04-4d13-b633-756e273f8618",
      "name": "WriterSwitch"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 50,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -820,
        -2340
      ],
      "id": "a361ebbe-3f3c-4d97-9942-1d952679d8c9",
      "name": "Update Knowledge Base",
      "credentials": {
        "supabaseApi": {
          "id": "yrgOJrv2htNNT8C5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Reddit Post Title (for context):** \"{{ $json.post_title }}\"\n\n**Aggregated Top Comments:**\n---\n{{ $json.comments }}\n---\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an AI assistant skilled at analyzing and summarizing online discussions. Your task is to read the provided collection of top comments from a Reddit post and produce a concise summary capturing the overall sentiment and the main points being discussed. This summary will be used to provide context about the community's reaction to the post.\n\n**Instructions:**\n1.  Analyze the sentiment expressed in the comments. Is it generally positive, negative, mixed, neutral, or something else (e.g., highly polarized, largely skeptical)?\n2.  Identify the key themes or topics that commenters are focusing on. What are the main subjects of discussion within the comments?\n3.  Note any recurring arguments, strong opinions, or points of consensus/disagreement mentioned frequently.\n4.  Synthesize these findings into a brief, objective summary.\n5.  Focus on reflecting *what the commenters discussed and felt*, not on evaluating the original post/article itself.\n\n**Output Format:**\nProvide a concise summary (1-3 paragraphs or a short bulleted list) that covers:\n*   The overall sentiment of the comments.\n*   The primary topics or themes discussed.\n*   Any notable recurring points or strong disagreements/agreements.\n\nDo not add introductory phrases like \"Here is the summary:\". Just provide the summary text directly."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -2080,
        -2960
      ],
      "id": "4238d573-6ba2-4ede-afc0-dfc9b8a9f360",
      "name": "Summarize Comments",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "text-embedding-nomic-embed-text-v1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1640,
        -1440
      ],
      "id": "33a02410-03e8-419c-b5d1-95389e8369c5",
      "name": "LMStudio/Nomic-1.5",
      "credentials": {
        "openAiApi": {
          "id": "N5TVwN18JCJgeS5T",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2060,
        -2600
      ],
      "id": "9de7cce5-0efe-48c7-a9f2-be595bd1f1f7",
      "name": "Google/Gemini-Flash-2.0",
      "credentials": {
        "googlePalmApi": {
          "id": "J6G6rRcjul87ywdd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -3700,
        -1900
      ],
      "id": "e9bea9cc-319e-4a50-a831-6578e7d4efe6",
      "name": "EditorAutoFixing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -2240,
        -2080
      ],
      "id": "54822420-b312-47df-89c0-313a53db8314",
      "name": "SEOAutoFixing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -2240,
        -1720
      ],
      "id": "ef46d9b1-ced7-4b0b-b4d8-a92c3441216b",
      "name": "WritersAutoFixing"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Knowledgebase",
        "toolDescription": "Use this tool to search the internal knowledge base for specific facts, context, details, or recent developments about Marvel movies, TV shows, characters, actors, directors, news, or events mentioned in previously processed articles. Useful for fact-checking information or finding background context, especially for topics potentially newer than the AI's training data.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -2720,
        -1440
      ],
      "id": "f9758c15-1397-48b9-984e-09eea07de69f",
      "name": "Knowledgebase",
      "credentials": {
        "supabaseApi": {
          "id": "yrgOJrv2htNNT8C5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd8b1484-381e-46cb-a38e-6cd4dd38698c",
              "name": "author_id",
              "value": 4,
              "type": "number"
            },
            {
              "id": "89c31ea3-82fd-4be2-8fe1-836b633b79ac",
              "name": "draft_count",
              "value": "={{ $json.items().length }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1400,
        -2180
      ],
      "id": "96db6afc-7b04-4c2f-822a-e44cd954a466",
      "name": "SetDavidID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd8b1484-381e-46cb-a38e-6cd4dd38698c",
              "name": "author_id",
              "value": 5,
              "type": "number"
            },
            {
              "id": "b3804b39-ccab-4258-9035-4d9579d375d0",
              "name": "draft_count",
              "value": "={{ $json.items().length }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1400,
        -1980
      ],
      "id": "f800f569-115a-4a4f-8f0f-2d847ac1f174",
      "name": "SetSarahID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd8b1484-381e-46cb-a38e-6cd4dd38698c",
              "name": "author_id",
              "value": 6,
              "type": "number"
            },
            {
              "id": "1d52ed1c-5b4e-4e01-871e-cd86f5a94742",
              "name": "draft_count",
              "value": "={{ $json.items().length }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1400,
        -1780
      ],
      "id": "4c510b4d-5a5e-49ae-a813-901a47bb723a",
      "name": "SetMichaelID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd8b1484-381e-46cb-a38e-6cd4dd38698c",
              "name": "author_id",
              "value": 7,
              "type": "number"
            },
            {
              "id": "fb8f2c51-8d54-4128-9b58-8fec220352a1",
              "name": "draft_count",
              "value": "={{ $json.items().length }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1400,
        -1580
      ],
      "id": "485113e4-2f29-4785-8393-cd1ac865c773",
      "name": "SetJessicaID"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "content": "✅ Checking for New Articles on Reddit ....",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -3540,
        -3240
      ],
      "id": "dbaa8d6b-e87e-4b26-83a1-3e0ab39273bf",
      "name": "DiscordNotify_Start",
      "webhookId": "5ae33732-082e-4a76-8d5e-6e7e28faa409",
      "credentials": {
        "discordBotApi": {
          "id": "rPYWEGT8D5jne5X3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output.seo_article_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -1060,
        -1900
      ],
      "id": "1e9869f5-f7f6-449f-9c49-819c8ef3bbd6",
      "name": "Markdown2HTML"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/marvelstudios/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "flair:\"Article\""
            },
            {
              "name": "restrict_sr",
              "value": "true"
            },
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "sort",
              "value": "new"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n workflow"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3340,
        -3240
      ],
      "id": "c014e30d-7877-4818-b897-0be923678c54",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.children",
        "include": "={{ $json.data.children }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3140,
        -3240
      ],
      "id": "843bd4ef-9505-43a9-b3d5-d187232ffee1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b9f49af-d23e-4fa4-b811-94d928746465",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1900,
        -3200
      ],
      "id": "8c5b67a7-e3fe-4440-a377-e06faf13be79",
      "name": "If"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324",
        "options": {
          "temperature": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -3100,
        -1440
      ],
      "id": "05621e31-7739-4d8c-84b9-bf250f80d136",
      "name": "DeepSeekV3-HIGH",
      "credentials": {
        "openRouterApi": {
          "id": "T3MBrOZMELvntPCt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -3360,
        -1440
      ],
      "id": "6908cb5c-b411-4d1b-8748-5b06421da7bb",
      "name": "DeepSeekV3-MED",
      "credentials": {
        "openRouterApi": {
          "id": "T3MBrOZMELvntPCt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -3620,
        -1440
      ],
      "id": "70f762b0-0f32-4635-8e88-07ddae6b708b",
      "name": "DeepSeekV3-LOW",
      "credentials": {
        "openRouterApi": {
          "id": "T3MBrOZMELvntPCt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "documents",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=metadata->>post_id=in.(\"{{ $json.fetched_post_ids.join('\",\"') }}\")"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2700,
        -3160
      ],
      "id": "9e947786-6fab-4e3b-994d-0fa19ad8c0fa",
      "name": "CheckDuplicates",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "yrgOJrv2htNNT8C5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "[\"data.children\"].data.id",
              "renameField": true,
              "outputFieldName": "fetched_post_ids"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2920,
        -3240
      ],
      "id": "81820525-8abd-45f4-a854-da7255cca8a8",
      "name": "Aggregate",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "# FORMAT DATA",
        "height": 900,
        "width": 1720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2140,
        -3360
      ],
      "id": "80d610cd-b85b-4285-8baf-3d7e5242e89e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# DATA INPUT",
        "height": 900,
        "width": 1620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3820,
        -3360
      ],
      "id": "068b02c0-5cb1-45d9-a479-869c7765e809",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=*Raw Extracted Article Text* : {{ $json.textContent }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI text processing assistant. Your task is to analyze raw text extracted from a news article web page, identified by the 'Original Post Title'. Your goal is to isolate and extract ONLY the core news content specifically related to the Marvel Cinematic Universe (MCU) or directly related Marvel topics mentioned in the title/article. You must preserve all relevant facts, figures, names, quotes, and narrative points from the main article body.\n\n**Instructions:**\n\n1.  Read the 'Raw Extracted Article Text'.\n2.  Identify the main body of the news article content discussing the MCU topic.\n3.  **REMOVE** the following types of content:\n    *   Website navigation elements (menus, headers, footers).\n    *   Advertisements or promotional material.\n    *   Sidebars, 'related articles' lists, or 'popular posts' sections.\n    *   Comment sections or social media sharing prompts.\n    *   Author biographies (unless they contain direct, relevant quotes for the article).\n    *   Cookie consent banners, subscription modals, or site boilerplate text.\n    *   Any remaining visible HTML tags (like `<div>`, `<script>`), CSS, or JavaScript code snippets.\n    *   Generic introductory/concluding phrases from the *website structure* (e.g., 'Posted on...', 'Filed under...', 'Read more:').\n4.  **KEEP** the following:\n    *   The primary headline and any subheadings *within* the main article content.\n    *   All paragraphs constituting the main news report or feature.\n    *   Direct quotes relevant to the MCU news.\n    *   Specific names, dates, project titles, and factual details mentioned in the core article.\n5.  **CRITICAL:** Do NOT summarize or rewrite the content. Output the extracted relevant sections verbatim, maintaining original paragraph breaks where possible.\n6.  **CRITICAL:** Ensure NO essential news information about the MCU topic is lost. If unsure whether a piece of text is part of the core article or surrounding clutter, lean towards KEEPING it to avoid losing news details.\n\n**Output:**\n\nReturn ONLY the cleaned, relevant article text. Do NOT include any explanations, introductions, or apologies (e.g., do not start with 'Here is the cleaned text:')."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -1460,
        -3120
      ],
      "id": "d86a3b16-6bbb-41f9-b0f6-b89ecfaa1e9d",
      "name": "Summarize Content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d552411-3a2b-49e4-9b14-564275265498",
              "name": "post_id",
              "value": "={{ $json['data.children'].data.id }}",
              "type": "string"
            },
            {
              "id": "0d9892ab-0458-4d2b-8798-2922e424a3db",
              "name": "post_title",
              "value": "={{ $json['data.children'].data.title }}",
              "type": "string"
            },
            {
              "id": "63f1b67b-cf7a-419f-8c68-0adffedf1866",
              "name": "post_url",
              "value": "={{ $json['data.children'].data.url }}",
              "type": "string"
            },
            {
              "id": "d57f64cb-7399-47eb-974d-1820c40e19ae",
              "name": "created_utc",
              "value": "={{ $json['data.children'].data.created_utc }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2860,
        -3000
      ],
      "id": "88b9a158-e0d4-460e-9281-4974654a32ea",
      "name": "SetPostData"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1cc7cc6-12ec-4035-9716-879ec0cb34ad",
              "name": "post_id",
              "value": "={{ $json.post_id }}",
              "type": "string"
            },
            {
              "id": "5bff99ca-ddd4-477c-b031-e2d9d0b1033a",
              "name": "post_title",
              "value": "={{ $json.post_title }}",
              "type": "string"
            },
            {
              "id": "3c96cb4b-6792-41e9-9153-fe0ebcb3406e",
              "name": "post_url",
              "value": "={{ $json.post_url }}",
              "type": "string"
            },
            {
              "id": "4c914710-0a41-4f3c-a435-e65aff80212c",
              "name": "created_utc",
              "value": "={{ $json.created_utc }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3220,
        -2620
      ],
      "id": "75904170-c5f3-4887-ab83-5131ee972c73",
      "name": "ResetPostData"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "metadata.post_id",
              "field2": "post_id"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -2440,
        -3020
      ],
      "id": "7e31728d-4c2f-41de-83a2-1c0ecb634156",
      "name": "CombineDuplicates"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "content": "=👀 {{$items().length}} New Articles Found!\n⚒️ Extracting Article Content and Reddit Sentiment ....",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -660,
        -3180
      ],
      "id": "7c089445-4aad-4df9-94d1-aba06d799510",
      "name": "NotifyArticleCount",
      "webhookId": "f07f7452-eefe-47b7-b9de-ded5317b3b5b",
      "executeOnce": true,
      "credentials": {
        "discordBotApi": {
          "id": "rPYWEGT8D5jne5X3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "content": "=✏️ Analyzing Inputs and Assigning Writers ....",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -660,
        -2880
      ],
      "id": "a906e8a6-0fb6-4a3d-8b53-d6f160593007",
      "name": "NotifyEditor",
      "webhookId": "f07f7452-eefe-47b7-b9de-ded5317b3b5b",
      "executeOnce": true,
      "credentials": {
        "discordBotApi": {
          "id": "rPYWEGT8D5jne5X3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1347117806134759434",
          "mode": "list",
          "cachedResultName": "AgentAdmin",
          "cachedResultUrl": "https://discord.com/channels/1347117806134759434"
        },
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "content": "=🤓 Processed Inputs and Assigned {{$items().length}} Articles to Writers",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -3180,
        -2320
      ],
      "id": "7bfce02c-9e2c-4573-9cc3-05169787da47",
      "name": "NotifyWriters",
      "webhookId": "db9c54fc-8635-4a87-957d-c71ce070b53f",
      "executeOnce": true,
      "credentials": {
        "discordBotApi": {
          "id": "rPYWEGT8D5jne5X3",
          "name": "Discord Bot account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.assigned_writer }}",
                    "rightValue": "David",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ccda6a7f-3dd6-4381-86a8-24ea21efae52"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "73a7891a-12d7-4a97-8b23-35de87cadd1e",
                    "leftValue": "={{ $json.output.assigned_writer }}",
                    "rightValue": "Sarah",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0d5ffa24-8394-4af4-ab57-caf3e85420cb",
                    "leftValue": "={{ $json.output.assigned_writer }}",
                    "rightValue": "Michael",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "26a37cfa-42b2-42f9-bfe2-743edf467935",
                    "leftValue": "={{ $json.output.assigned_writer }}",
                    "rightValue": "Jessica",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1740,
        -1920
      ],
      "id": "52da17a9-e65e-440b-849a-3d905bddf274",
      "name": "WriterIDSwitch"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "content": "=🔥 Draft(s) Ready for Review!",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -620,
        -1700
      ],
      "id": "eb280c66-ee6e-48a6-a763-721a125022af",
      "name": "NotifyDraft",
      "webhookId": "76078e36-6881-426d-a195-05ebb69dd363",
      "executeOnce": true,
      "credentials": {
        "discordBotApi": {
          "id": "rPYWEGT8D5jne5X3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://URL.COM/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.output.seo_headline }}"
            },
            {
              "name": "content",
              "value": "={{ $json.data }}"
            },
            {
              "name": "status",
              "value": "draft"
            },
            {
              "name": "author",
              "value": "={{ $json.author_id }}"
            },
            {
              "name": "categories",
              "value": "={{ [4] }}"
            },
            {
              "name": "date_gmt",
              "value": "={{ DateTime.fromSeconds($json.output.created_utc).toISO() }}"
            },
            {
              "name": "excerpt",
              "value": "={{ $json.output.meta_description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        -1900
      ],
      "id": "be490bdb-5c86-4295-82c4-a70df08bca90",
      "name": "PostDraft",
      "alwaysOutputData": true,
      "credentials": {
        "wordpressApi": {
          "id": "VZEZQ3gjbMylynWY",
          "name": "Wordpress account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "DiscordNotify_Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assistant Editor": {
      "main": [
        [
          {
            "node": "NotifyWriters",
            "type": "main",
            "index": 0
          },
          {
            "node": "WriterSwitch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AggregateTopComments": {
      "main": [
        [
          {
            "node": "MergePostData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterTopComments": {
      "main": [
        [
          {
            "node": "AggregateTopComments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Posts": {
      "main": [
        [
          {
            "node": "IfImageURL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ResetPostData",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetAllComments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetArticleText": {
      "main": [
        [
          {
            "node": "MergeDataForEditor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetCommentSummary": {
      "main": [
        [
          {
            "node": "MergeDataForEditor",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MergeDataForEditor": {
      "main": [
        [
          {
            "node": "NotifyEditor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Assistant Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WritersRoomParser": {
      "ai_outputParser": [
        [
          {
            "node": "WritersAutoFixing",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AssistantParser": {
      "ai_outputParser": [
        [
          {
            "node": "EditorAutoFixing",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "SEOParser": {
      "ai_outputParser": [
        [
          {
            "node": "SEOAutoFixing",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Sarah": {
      "main": [
        [
          {
            "node": "SEO",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Michael": {
      "main": [
        [
          {
            "node": "SEO",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "David": {
      "main": [
        [
          {
            "node": "SEO",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Jessica": {
      "main": [
        [
          {
            "node": "SEO",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "SEO": {
      "main": [
        [
          {
            "node": "Update Knowledge Base",
            "type": "main",
            "index": 0
          },
          {
            "node": "WriterIDSwitch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Update Knowledge Base",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "GetAllComments": {
      "main": [
        [
          {
            "node": "FilterTopComments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergePostData": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractArticleContent": {
      "main": [
        [
          {
            "node": "Summarize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetArticleData": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfImageURL": {
      "main": [
        [],
        [
          {
            "node": "GetArticleData",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize Comments",
            "type": "main",
            "index": 0
          },
          {
            "node": "MergeDataForEditor",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "WriterSwitch": {
      "main": [
        [
          {
            "node": "David",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sarah",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Michael",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jessica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Knowledge Base": {
      "main": [
        []
      ]
    },
    "Summarize Comments": {
      "main": [
        [
          {
            "node": "SetCommentSummary",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "LMStudio/Nomic-1.5": {
      "ai_embedding": [
        [
          {
            "node": "Update Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Knowledgebase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google/Gemini-Flash-2.0": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Comments",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Summarize Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "EditorAutoFixing": {
      "ai_outputParser": [
        [
          {
            "node": "Assistant Editor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "SEOAutoFixing": {
      "ai_outputParser": [
        [
          {
            "node": "SEO",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "WritersAutoFixing": {
      "ai_outputParser": [
        [
          {
            "node": "Jessica",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Michael",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Sarah",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "David",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Knowledgebase": {
      "ai_tool": [
        [
          {
            "node": "David",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Sarah",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Michael",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Jessica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SetDavidID": {
      "main": [
        [
          {
            "node": "Markdown2HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetSarahID": {
      "main": [
        [
          {
            "node": "Markdown2HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetMichaelID": {
      "main": [
        [
          {
            "node": "Markdown2HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetJessicaID": {
      "main": [
        [
          {
            "node": "Markdown2HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DiscordNotify_Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown2HTML": {
      "main": [
        [
          {
            "node": "PostDraft",
            "type": "main",
            "index": 0
          },
          {
            "node": "NotifyDraft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "SetPostData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "ExtractArticleContent",
            "type": "main",
            "index": 0
          },
          {
            "node": "NotifyArticleCount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeekV3-HIGH": {
      "ai_languageModel": [
        [
          {
            "node": "Jessica",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Michael",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Sarah",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "David",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeekV3-MED": {
      "ai_languageModel": [
        [
          {
            "node": "SEO",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeekV3-LOW": {
      "ai_languageModel": [
        [
          {
            "node": "WritersAutoFixing",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "SEOAutoFixing",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "EditorAutoFixing",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Assistant Editor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "CheckDuplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckDuplicates": {
      "main": [
        [
          {
            "node": "CombineDuplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Content": {
      "main": [
        [
          {
            "node": "SetArticleText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetPostData": {
      "main": [
        [
          {
            "node": "CombineDuplicates",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ResetPostData": {
      "main": [
        [
          {
            "node": "MergePostData",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CombineDuplicates": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WriterIDSwitch": {
      "main": [
        [
          {
            "node": "SetDavidID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetSarahID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetMichaelID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetJessicaID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NotifyDraft": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oo9YCwrSq1Ulgpsk"
  },
  "versionId": "e6314023-dbdd-45ae-bf7e-3a6bc7bc96d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "203ade8f421a2e019a3858e1bd9c330375ae5225d756b470824ec1d897b4e98d"
  },
  "id": "M34ZTUftAqEBofoo",
  "tags": []
}
